.images_list{
    display: grid;
  grid-gap: 20px;
  grid-template-columns: repeat(2, 1fr);
  margin-top: 40px;
  padding-bottom: 100px;
  background:black;


}
.images{
    width: 100%;
}
.launch-details{
  background-color: black;
  width: 100%;
  height: 89vh;
}
h1{
  color: wheat;
}
.progress{
  margin-top: 12%;
margin-left: 48%;
}
p{
  color: white; 
}
span{
  color: blanchedalmond;
}