*{
    margin:0;
}
.list{
    list-style: none;
    padding:0px 0px 0px 9px;
}
.list_items{
    padding-top: 15px;

}
.list_wrapper{
    background-color: black;
}
.font .name{
    color: black;
}
.year{
    color: black;
}
.btn{
    background-color: rgb(183, 140, 231);
    color:rgb(0, 0, 0);
}
.red{
    color:rgb(241, 79, 79)
}
.green{
    color:rgb(43, 139, 43)
}
.progress{
    margin-top: 12%;
  margin-left: 48%;
}